DB_USER="user"
DB_PASSWORD="password"
DB_DATABASE="database_name"

GOOGLE_CLIENT_ID="googleClientID"
GOOGLE_CLIENT_SECRET="googleSecrestKey"
GOOGLE_REDIRECT_URI="http://example"

JWT_ACCESS_SECRET="jwt_example"
JWT_REFRESH_SECRET="jwt_example"

ORIGIN_URL="https://note-app.gabrieltlss.com.br/"
FRONT_URL="http://example"